.error {
  display: none;
}

.doctor-name {
  display: inline-block;
  margin-right: 10px;
}

.fa-info-circle {
  color: blue;
}

.results {
  display: none;
}

.practice-name {
  /* display: inline-block; */
  margin-right: 10px;
}

.fa-user-alt-slash {
  display: inline-block;
}

.specialties {
  text-decoration: underline;
  font-size: 15px;
}

.practice-name {
  font-size: 17px;
}

.doctor-image {
  margin-right: 15px;
}
